{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Page - Ambassador</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Ambassador</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" style="height: 100%;
    min-height: 600px;">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Chat with Students from Your Dream College</h1>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <div>
<button type="button" class="btn btn-primary btn-lg" onclick="location.href = 'https://docs.google.com/forms/d/1DR-AH4-5FJGHonRRZyOmG1UUl6W6VhsfnzjjnPf1TAc/viewform';">Get Started!</button>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

<section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Features</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto" style="
    padding-bottom: 50px;
    text-align: center;">
            <div class="container-fluid">
              <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <img src="{% static 'img/brain.png' %}" style="max-width: 165px;">
                    <h3>Questions Answered</h3>
                    <p class="text-muted">You’ve got questions and our ambassadors have answers! Ask anything you want.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <img src="{% static 'img/mortarboard.png' %}" style="max-width: 165px;">
                    <h3>Honest & Non-Evaluative Feedback</h3>
                    <p class="text-muted">Ask the questions you really want to ask without the fear of being evaluated. Ambassador are not part of the admissions process and are only here to help you.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <img src="{% static 'img/notebook.png' %}" style="max-width: 165px;">
                    <h3>Admissions Essay Content</h3>
                    <p class="text-muted">Struggling with the college essay? Get a fresh perspective to help you answer the essay prompts.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <img src="{% static 'img/management.png' %}" style="max-width: 165px;">
                    <h3>Current & Relevant Students</h3>
                    <p class="text-muted">Talk to current students who have first-hand knowledge of how your interests and intended major align with the college today.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
        <div class="section-heading text-center">
          <h2>How it Works</h2>
        </div>
            <div class="row" style="text-align: center;">
                <div class="col-md-2 col-md-offset-1">
                  <div class="feature-item">
                    <img src="{% static 'img/one.png' %}" style="max-width: 100px; padding-bottom: 10px;">
                    <p> Tell us your dream colleges, interests, and intended major.</p>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="feature-item">
                    <img src="{% static 'img/two.png' %}" style="max-width: 100px; padding-bottom: 10px;">
                    <p>Ambassador will match you with college ambassadors from your dream schools that align with your interests and intended major.</p>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="feature-item">
                    <img src="{% static 'img/three.png' %}" style="max-width: 100px; padding-bottom: 10px;">
                    <p>Select which college ambassadors you would like to chat with.</p>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="feature-item">
                    <img src="{% static 'img/four.png' %}" style="max-width: 100px; padding-bottom: 10px;">
                    <p> Ambassador schedules the chat between you and the college ambassadors.</p>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="feature-item">
                    <img src="{% static 'img/five.png' %}" style="max-width: 100px; padding-bottom: 10px;">
                    <p>Chat with the college ambassadors and get your questions answered!</p>
                  </div>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

                <div class="col-md-6 col-md-offset-2">
                    <h2>Get Started with Ambassador</h2>
                </div>
                <div class="col-md">
                                            <ul class="list-inline intro-social-buttons">
                            <div>
<button type="button" class="btn btn-primary btn-lg" onclick="location.href = 'https://docs.google.com/forms/d/1DR-AH4-5FJGHonRRZyOmG1UUl6W6VhsfnzjjnPf1TAc/viewform';">Start Now!</button>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Ambassador 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
