{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109525811-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109525811-1');
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Page - Ambassador</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">





</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Ambassador</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>

    <!-- /.intro-header -->

    <!-- Page Content -->

<section class="features" id="features" style="margin-top: 72px;">
<form action="/signup/" method="post" id="form1">
  <div class="form-group container">
    <label for="exampleFormControlInput1">Name</label>
    <input type="name" class="form-control" name="name">
  </div>
  <div class="form-group container">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" name="emailInput">
  </div>
  <div class="form-group container">
    <label for="exampleFormControlInput2">High School</label>
    <input type="name" class="form-control" name="hsInput">
  </div>
  <div class="form-group container">
    <label for="exampleFormControlInput2">Extracurricular Activites (optional)</label>
    <input type="name" class="form-control" name="activitiesInput" >
  </div>
  <div class="form-group container">
    <label for="exampleFormControlInput2">Intended Major (optional)</label>
    <input type="name" class="form-control" name="majorInput" >
  </div>
  <div class="form-group container">

    <label for="exampleFormControlInput2">Which Schools are you Interested</label>
  <select name="schoolInput" class="selectpicker form-control" data-live-search="true" data-dropup-auto="false" multiple default="Choose Schools">
<option>American University Washington DC</option>
<option>Arizona State University</option>
<option>Auburn University</option>
<option>Ball State University</option>
<option>Baylor University</option>
<option>Boston College</option>
<option>Boston University</option>
<option>Brigham Young University</option>
<option>Brown University</option>
<option>California Institute of Technology Caltech</option>
<option>Carnegie Mellon University</option>
<option>Case Western Reserve University</option>
<option>Clemson University</option>
<option>College of William & Mary</option>
<option>Colorado State University</option>
<option>Columbia University New York</option>
<option>Cornell University</option>
<option>Dartmouth College</option>
<option>Drexel University</option>
<option>Duke University</option>
<option>Emory University</option>
<option>Florida International University</option>
<option>Florida State University</option>
<option>George Mason University</option>
<option>George Washington University</option>
<option>Georgetown University</option>
<option>Georgia Institute of Technology</option>
<option>Georgia State University</option>
<option>Harvard University</option>
<option>Indiana University</option>
<option>Indiana University/Purdue University Indianapolis</option>
<option>Iowa State University</option>
<option>Johns Hopkins University</option>
<option>Kansas State University</option>
<option>Kent State University</option>
<option>Lehigh University</option>
<option>Louisiana State University</option>
<option>Loyola University Chicago</option>
<option>Massachusetts Institute of Technology</option>
<option>Miami University of Ohio</option>
<option>Michigan State University</option>
<option>Michigan Technological University</option>
<option>Mississippi State University</option>
<option>Montana State University</option>
<option>New Mexico State University</option>
<option>New York University</option>
<option>North Carolina State University</option>
<option>Northern Illinois University</option>
<option>Northwestern University</option>
<option>Ohio State University</option>
<option>Oklahoma State University</option>
<option>Oregon State University</option>
<option>Pennsylvania State University</option>
<option>Portland State University</option>
<option>Princeton University</option>
<option>Purdue University</option>
<option>Rensselaer Polytechnic Institute</option>
<option>Rice University</option>
<option>Rochester Institute of Technology</option>
<option>Rutgers University</option>
<option>Saint Louis University</option>
<option>San Diego State University</option>
<option>Southern Illinois University</option>
<option>Southern Methodist University</option>
<option>Stanford University</option>
<option>Stony Brook University</option>
<option>Syracuse University</option>
<option>Temple University</option>
<option>Texas A&M University</option>
<option>Texas Tech University</option>
<option>Tufts University</option>
<option>University at Albany</option>
<option>University at Buffalo</option>
<option>University of Alabama</option>
<option>University of Alabama Birmingham</option>
<option>University of Arizona</option>
<option>University of Arkansas Fayetteville</option>
<option>University of California Berkeley</option>
<option>University of California Davis</option>
<option>University of California Irvine</option>
<option>University of California Los Angeles UCLA</option>
<option>University of California Riverside</option>
<option>University of California San Diego</option>
<option>University of California San Francisco</option>
<option>University of California Santa Barbara</option>
<option>University of California Santa Cruz</option>
<option>University of Central Florida</option>
<option>University of Chicago</option>
<option>University of Cincinnati</option>
<option>University of Colorado Boulder</option>
<option>University of Connecticut</option>
<option>University of Delaware</option>
<option>University of Florida</option>
<option>University of Georgia</option>
<option>University of Houston</option>
<option>University of Idaho</option>
<option>University of Illinois Chicago</option>
<option>University of Illinois Urbana Champaign</option>
<option>University of Iowa</option>
<option>University of Kansas</option>
<option>University of Kentucky</option>
<option>University of Louisville</option>
<option>University of Maryland</option>
<option>University of Maryland Baltimore</option>
<option>University of Maryland Baltimore County</option>
<option>University of Massachusetts Amherst</option>
<option>University of Massachusetts Medical School at Worcester</option>
<option>University of Miami</option>
<option>University of Michigan</option>
<option>University of Minnesota</option>
<option>University of Mississippi</option>
<option>University of Missouri Columbia</option>
<option>University of Nebraska Lincoln</option>
<option>University of Nevada las Vegas</option>
<option>University of Nevada Reno</option>
<option>University of New Hampshire</option>
<option>University of New Mexico</option>
<option>University of North Carolina Chapel Hill</option>
<option>University of North Texas</option>
<option>University of Notre Dame</option>
<option>University of Oklahoma</option>
<option>University of Oregon</option>
<option>University of Pennsylvania</option>
<option>University of Pittsburgh</option>
<option>University of Rhode Island</option>
<option>University of Rochester</option>
<option>University of South Carolina</option>
<option>University of South Florida</option>
<option>University of Southern California</option>
<option>University of Tennessee Knoxville</option>
<option>University of Texas Arlington</option>
<option>University of Texas Austin</option>
<option>University of Utah</option>
<option>University of Vermont</option>
<option>University of Virginia</option>
<option>University of Washington</option>
<option>University of Wisconsin Madison</option>
<option>University of Wisconsin Milwaukee</option>
<option>Utah State University</option>
<option>Vanderbilt University</option>
<option>Virginia Commonwealth University</option>
<option>Virginia Polytechnic Institute and State University</option>
<option>Wake Forest University</option>
<option>Washington State University Pullman</option>
<option>Washington University Saint Louis</option>
<option>Wayne State University</option>
<option>West Virginia University</option>
<option>Wright State University</option>
<option>Yale University</option>
  </select>
</div>
<div class="container">
<button type="submit" class="btn btn-primary" form="form1">Submit</button> </div>
{% csrf_token %}
</form>
    </section>

	<a  name="contact"></a>

        <!-- /.container -->

    </div>
</div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Ambassador 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

</body>


</html>
